* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #000;
}

:root {
    --x: 200px;
    --y: 200px;
}

body {
    background-image: url(https://plus.unsplash.com/premium_photo-1672146844153-9c269fba7bf2?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

/* linear gradient 
   radial gradient
*/

.box {
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    /* background: linear-gradient(in hsl to right, white, red, yellow); */
    background: radial-gradient(150px at var(--x) var(--y), rgba(236, 230, 230, 0), rgba(21, 21, 21, 0.918));
}